.auth {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    
    &__link {
        text-decoration: none;
        color: var(--button-color);
        opacity: .5;
        transition: all .15s ease-out 0s;
        &:hover {
            opacity: 1;
        }
    }
}