.form {
    margin-bottom: 1.5em;
    &__group {
        margin: .5em 0;
    }
    &__field {
        border: 0px none;
        width: 350px;
        padding: 1em;font-size: 1.1em;
        border-radius: 3px;
        line-height: 1.2em;
    }
}